/* Customize your main colors in :root variables */
:root {
  --main-background-color: #343A50;
  --card-background-color: #51576d9a;
  --card-background-lighter-color: #7A7F92;
  --main-text-color:#F7F6F4;
  --title-text-color:#9a73b9;
}

body{
  background: url("img/background.png");
  background-size: cover;

  font-family: 'Patrick Hand', cursive;
  font-size: 1.2em;
}

h2, p{
  color: var(--main-text-color);
}

h3{
font-weight: normal;
}



